@import "tailwindcss";

@theme {
  --color-primary: #2E72AC;
  --color-secondary: #235784;
  --color-tertiary: #BCDBDF; 
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('/fonts/open-sauce.one-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

a {
  font-family: var(--font-roboto);
}

.navIcon path {
  transition: fill 0.3s ease;
}