@import "tailwindcss";

@theme {
  --color-primary: #2E72AC;
  --color-secondary: #235784;
  --color-tertiary: #BCDBDF;
  --breakpoint-sm: 425px;
}

html {
  scroll-behavior: smooth;
}

a {
  font-family: var(--font-roboto);
}

.navIcon path {
  transition: fill 0.3s ease;
}

.hero-tags {
  animation-delay: 700ms;
}