@import "tailwindcss";

@theme {
  --color-primary: #2E72AC;
  --color-secondary: #235784;
  --color-tertiary: #BCDBDF;
  --color-accent-light: #FFB17A;   /* Warm Peach */
  --color-accent-light-1: #FF6E6C;  /* Coral Pink */
  --color-accent-dark: #4ECDC4;    /* Mint/Teal */
  --color-accent-dark-1: #45B7D1; 
  --breakpoint-sm: 425px;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: none !important;
}

button, a, input, [role="button"] {
    cursor: none;
}

a {
  font-family: var(--font-roboto);
}

.navIcon path {
  transition: fill 0.3s ease;
}

.animate-1 {
  animation-delay: 400ms;
}

.animate-2 {
  animation-delay: 600ms;
}

.animate-3 {
  animation-delay: 800ms;
}

.animate-4 {
  animation-delay: 1000ms;
}

.hollow-circle {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Must match width */
    border-radius: 50%;
    background-color: transparent;
    border: 20px solid blue; /* Adjust thickness and color */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}